.books-container{
    margin: 0 1.7em 0 2em;

.books-table{

    background-color: rgb(243, 242, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    mat-header-cell{
        background: #850117;
        color: silver;
        font-size: medium;
        font-weight: 700;
    }
  }  
}