.books-container{
    margin: 0 1.7em 0 2em;

.books-table{

    
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    mat-header-cell{
        background: #640c2a;
        color: silver;
        font-size: medium;
        font-weight: 700;
    }

   
    
  }  
}

.mat-row:nth-child(even){
    background-color: rgba(160, 96, 96, 0.05);
  }

  .mat-row:nth-child(odd){
    background-color: rgb(243, 237, 237);
 }

 .mat-table
{
  background-color:transparent!important;  
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5em;
}
table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid
}